<%- include("../partials/header")-%>


<section>
    <h3>Post feed</h3>
    <div>
        <% blog.forEach(function(b){%>
            <a href="/blog/<%=b._id%>"><%= b.title %></a>
            <div>
                <img src="/uploads/<%=b.image%>" alt="<%= b.title%>" loading="lazy">
            </div>
            <div>
                <span><%= b.bod %></span>
            </div>
            <div>
                <span><%= b.createdAt %></span>
                <span><%= b.updatedAt %></span>
            </div>
            <div>
                <a href="/blog/<%=b._id%>">Show more</a>
            </div>
            
        <% })%>
    </div>
</section>




<%- include("../partials/header")-%>