<%- include("../partials/header")-%>


<section>
    <div>
        <% blog.forEach(function(b){%>
            <a href="/blog/<%=b._id%>"><%= b.title %></a>
            <!-- <input type="file" name="" id=""> -->
            <div>
                <span><%= b.body %></span>
            </div>
            <div>
                <span><%= b.createdAt %></span>
                <span><%= b.updatedAt %></span>
            </div>
            <div>
                <a href="/blog/<%=b._id%>">Show more</a>
            </div>
            
        <% })%>
    </div>
</section>




<%- include("../partials/header")-%>