<%- include("../partials/header")-%>

<section>
    <div><%= blog.title %></div>
    <div>
        <img src="/uploads/<%=blog.image%>" alt="<%= blog.title%>" loading="lazy">
    </div>
    <div><%- blog.bod%></div>
    <span><%= blog.createdAt %></span>
    <span><%= blog.updatedAt %></span>
    <div>
        <a href="/blog/<%=blog._id%>/edit">Edit</a>
    </div>
    <form id="remove" action="/blog/<%= blog._id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
</section>



<%- include("../partials/header")-%>