<%- include("../partials/header")-%>

<section>
    <div >Edit => <%= blog.title %></div>
        <form action="/blog/<%=blog._id%>?_method=PUT" method="POST">
            <div>
                <label>Title</label>
                <input type="text" name="blog[title]" value="<%=blog.title%>">
            </div>
            <input type="file" accept="image*/">
            <div>
                <label>Content</label>
                <textarea name="blog[body]" value="<%= blog.body%>"><%= blog.body%></textarea>
            </div>
            <input type="submit">
        </form>   
   </div>
</section>





<%- include("../partials/header")-%>